In [11]:
import os
import sys
sys.path.append(os.path.abspath('./../../'))
from cell_extractor.CellDetectorBase import CellDetectorBase
from Controllers.MarkedCellController import MarkedCellController

In [7]:
base = CellDetectorBase('DK55',round=2,segmentation_threshold=2000)
detections = base.load_detections()

In [8]:
detections

       animal  section    row    col  label  mean_score  std_score  predictions
0        DK55       48  13152  21857    0.0   -9.717223   1.759460           -2
1        DK55       48  13159  21851    0.0   -7.822807   0.972752           -2
2        DK55      132  16652  21715    0.0   -6.107453   1.337757           -2
3        DK55      132  16652  21730    0.0   -7.763164   1.713356           -2
4        DK55      132  16651  21734    0.0   -7.195458   1.354799           -2
...       ...      ...    ...    ...    ...         ...        ...          ...
802521   DK55      442   8709  31084    0.0   -9.411188   1.367702           -2
802522   DK55      442   8715  31080    0.0  -11.854478   1.744516           -2
802523   DK55      442   8712  31071    0.0  -12.520658   1.886989           -2
802524   DK55      442   8717  31089    0.0   -7.713607   1.310076           -2
802525   DK55      442   8723  31084    0.0   -7.752122   1.402312           -2

[802526 rows x 8 columns]

In [12]:
controller = MarkedCellController()

In [ ]:
controller

In [ ]:
controller.get_marked_cells(search_dictionary={'id':...})