In [1]:
import pandas as pd

In [5]:
filename,=!ls *.csv
filename

'output_for_Yoav.csv'

In [41]:
df=pd.read_csv(filename)
df.head(2)

,id,unique_key,prep_id,label,coord,z,polygon_id,volume_id,polygon_ordering,volume_ordering
0,242321,MD594_SC_161,MD594,SC,"(24767.477876106193, 10422.433628318582, 161.0)",161,c777958efa414148b88d9f9b3d1aceace306d94b,9a661f4f149f6571e0873cf2182d12f5a54a2452,0,0
1,242322,MD594_SC_161,MD594,SC,"(24680.53097345133, 10423.075221238936, 161.0)",161,c777958efa414148b88d9f9b3d1aceace306d94b,9a661f4f149f6571e0873cf2182d12f5a54a2452,1,0

In [42]:
df.columns

Index(['id', 'unique_key', 'prep_id', 'label', 'coord', 'z', 'polygon_id',
       'volume_id', 'polygon_ordering', 'volume_ordering'],
      dtype='object')

In [43]:
df=df[['prep_id','label','coord','z','polygon_ordering','volume_ordering']]
df.head()

,prep_id,label,coord,z,polygon_ordering,volume_ordering
0,MD594,SC,"(24767.477876106193, 10422.433628318582, 161.0)",161,0,0
1,MD594,SC,"(24680.53097345133, 10423.075221238936, 161.0)",161,1,0
2,MD594,SC,"(24610.840707964602, 10406.194690265487, 161.0)",161,2,0
3,MD594,SC,"(24541.150442477876, 10389.33628318584, 161.0)",161,3,0
4,MD594,SC,"(24471.46017699115, 10372.45575221239, 161.0)",161,4,0

In [45]:
prep_id=list(df['prep_id'])
volume_id=list(df['label'])
pairs=list(zip(prep_id,volume_id))
pairs[:5]

[('MD594', 'SC'),
 ('MD594', 'SC'),
 ('MD594', 'SC'),
 ('MD594', 'SC'),
 ('MD594', 'SC')]

In [46]:
from collections import Counter
Counter(pairs)

Counter({('MD594', 'SC'): 21942,
         ('MD594', 'IC'): 17408,
         ('DK55', '7N_L'): 682,
         ('DK55', '7N_R'): 598})

In [47]:
structures=list(set(pairs))
structures

[('DK55', '7N_R'), ('MD594', 'IC'), ('MD594', 'SC'), ('DK55', '7N_L')]

In [50]:
### Start with a small volume
struct_id=structures[3][1]
struct_id

'7N_L'

In [90]:
sdf=df[df['label']==vol_id]
#sdf=sdf[['coord','z','polygon_ordering','volume_ordering']]
sdf=sdf.sort_values('polygon_ordering')
sdf.head(40)

,prep_id,label,coord,z,polygon_ordering,volume_ordering
39350,DK55,7N_L,"(29002.523076923077, 16223.107692307693, 164.0)",164,1,2
39351,DK55,7N_L,"(28827.10769230769, 16259.415384615386, 164.0)",164,2,2
39352,DK55,7N_L,"(28790.8, 16331.999999999998, 164.0)",164,3,2
39353,DK55,7N_L,"(28821.046153846153, 16477.2, 164.0)",164,4,2
39354,DK55,7N_L,"(28960.184615384613, 16580.061538461538, 164.0)",164,5,2
39355,DK55,7N_L,"(29117.476923076923, 16513.507692307692, 164.0)",164,6,2
39356,DK55,7N_L,"(29153.78461538461, 16325.96923076923, 164.0)",164,7,2
39357,DK55,7N_L,"(29002.523076923077, 16223.107692307693, 165.0)",165,8,2
39358,DK55,7N_L,"(28706.092307692306, 16192.861538461539, 165.0)",165,9,2
39359,DK55,7N_L,"(28518.55384615385, 16392.523076923077, 165.0)",165,10,2
39360,DK55,7N_L,"(28591.16923076923, 16616.338461538464, 165.0)",165,11,2
39361,DK55,7N_L,"(28752.24615384615, 16814.30769230769, 165.0)",165,12,2
39362,DK55,7N_L,"(28996.492307692308, 16773.63076923077, 165.0)",165,13,2
39363,DK55,7N_L,"(29262.676923076924, 16531.661538461536, 165.0)",165,14,2
39364,DK55,7N_L,"(29238.46153846154, 16319.907692307692, 165.0)",165,15,2
39365,DK55,7N_L,"(29032.769230769227, 16174.707692307691, 166.0)",166,16,2
39366,DK55,7N_L,"(28712.153846153848, 16156.584615384616, 166.0)",166,17,2
39367,DK55,7N_L,"(28476.215384615385, 16404.615384615383, 166.0)",166,18,2
39368,DK55,7N_L,"(28573.01538461538, 16616.338461538464, 166.0)",166,19,2
39369,DK55,7N_L,"(28752.24615384615, 16814.30769230769, 166.0)",166,20,2
39370,DK55,7N_L,"(28996.492307692308, 16773.63076923077, 166.0)",166,21,2
39371,DK55,7N_L,"(29262.676923076924, 16531.661538461536, 166.0)",166,22,2
39372,DK55,7N_L,"(29238.46153846154, 16319.907692307692, 166.0)",166,23,2
39373,DK55,7N_L,"(29032.769230769227, 16174.707692307691, 167.0)",167,24,2
39374,DK55,7N_L,"(28798.892307692306, 16098.092307692308, 167.0)",167,25,2
39375,DK55,7N_L,"(28566.953846153847, 16108.184615384615, 167.0)",167,26,2
39376,DK55,7N_L,"(28434.46153846154, 16242.553846153845, 167.0)",167,27,2
39377,DK55,7N_L,"(28367.323076923072, 16422.76923076923, 167.0)",167,28,2
39378,DK55,7N_L,"(28476.215384615385, 16676.830769230768, 167.0)",167,29,2
39379,DK55,7N_L,"(28752.24615384615, 16814.30769230769, 167.0)",167,30,2
39380,DK55,7N_L,"(28996.492307692308, 16773.63076923077, 167.0)",167,31,2
39381,DK55,7N_L,"(29196.061538461534, 16723.661538461536, 167.0)",167,32,2
39382,DK55,7N_L,"(29262.676923076924, 16531.661538461536, 167.0)",167,33,2
39383,DK55,7N_L,"(29238.46153846154, 16319.907692307692, 167.0)",167,34,2
39384,DK55,7N_L,"(29075.13846153846, 16138.430769230768, 168.0)",168,35,2
39385,DK55,7N_L,"(28798.892307692306, 16098.092307692308, 168.0)",168,36,2
39386,DK55,7N_L,"(28566.953846153847, 16108.184615384615, 168.0)",168,37,2
39387,DK55,7N_L,"(28434.46153846154, 16242.553846153845, 168.0)",168,38,2
39388,DK55,7N_L,"(28294.73846153846, 16434.861538461537, 168.0)",168,39,2
39389,DK55,7N_L,"(28379.415384615382, 16701.046153846153, 168.0)",168,40,2

In [69]:
coord=list(sdf['coord'])
xL=[]; yL=[]; zL=[]

for s in coord:
    x,y,z=[int(float(x)) for x in s[1:-1].split(',')]
    xL.append(x); yL.append(y); zL.append(z)
sdf['x']=xL
sdf['y']=yL
sdf['Z']=zL

,coord,z,polygon_ordering,volume_ordering,x,y,Z
39350,"(29002.523076923077, 16223.107692307693, 164.0)",164,1,2,29002,16223,164
39351,"(28827.10769230769, 16259.415384615386, 164.0)",164,2,2,28827,16259,164
39352,"(28790.8, 16331.999999999998, 164.0)",164,3,2,28790,16331,164
39353,"(28821.046153846153, 16477.2, 164.0)",164,4,2,28821,16477,164
39354,"(28960.184615384613, 16580.061538461538, 164.0)",164,5,2,28960,16580,164
...,...,...,...,...,...,...,...
40027,"(28796.861538461537, 16416.707692307693, 210.0)",210,678,2,28796,16416,210
40028,"(28615.384615384613, 16495.353846153845, 210.0)",210,679,2,28615,16495,210
40029,"(28323.938461538462, 16766.03076923077, 210.0)",210,680,2,28323,16766,210
40030,"(28233.046153846153, 17156.246153846154, 210.0)",210,681,2,28233,17156,210
40031,"(28649.415384615382, 17231.723076923077, 210.0)",210,682,2,28649,17231,210

In [72]:
minZ=sdf.iloc[0,-1]

In [73]:
sdf['z']=(sdf['z']-minZ)*20

In [74]:
sdf.columns

Index(['coord', 'z', 'polygon_ordering', 'volume_ordering', 'x', 'y', 'Z'], dtype='object')

In [75]:
sdf=sdf[['x','y','z','polygon_ordering','volume_ordering']]

In [84]:
Counter(list(sdf['volume_ordering']))

Counter({2: 682})